.adminElementLogin {
	position: relative;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	border: solid 2px green;
}

.adminElementRegister {
	position: relative;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 55%;
	border: solid 2px green;
	box-sizing: border-box;
}

.adminElementIdentity {
	position: relative;
	width: 100%;
	height: 15%;
	border: solid 2px green;
	box-sizing: border-box;
}

.adminElementStateTaps {
	position: relative;
	width: 100%;
	height: 15%;
	border: solid 2px green;
	box-sizing: border-box;
}
.adminElementStateTaps button{
	box-sizing: border-box;
	width: 33.3%;
	height: 100%;
}

.adminElementCalendarFormat {
	display: inline-block;
	position: relative;
	width: 50%;
	height: 70%;
	border: solid 2px green;
	box-sizing: border-box;
}

.adminElementDiagramFormat {
	display: inline-block;
	position: relative;
	width: 50%;
	height: 70%;
	border: solid 2px green;
	box-sizing: border-box;
}

.adminElementDetailPage {
	position: relative;
	left: -2.5%;
	top: -2.5%;
	width: 52.5%;
	height: 105%;
	border: solid 2px green;
	box-sizing: border-box;
}

.adminElementCommentTextarea {
	position: absolute;
	left: 50%;
	top: -2.5%;
	width: 52.5%;
	height: 52.5%;
	border: solid 2px green;
	box-sizing: border-box;
}

.adminElementPrivateNoteTextarea {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 52.5%;
	height: 52.5%;
	border: solid 2px green;
	box-sizing: border-box;
}

.Format {
	width: 100%;
	height: 100%;
}
